.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
    color: white;
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    background-image: linear-gradient(to right, #ff6f61, #ff8c69);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;  /* Make the text bold */
  }
  
  .navbar-links a:hover {
    background-color: #555;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    color: white;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-logo {
      margin-bottom: 10px;
    }
  
    .navbar-links {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links li {
      display: block;
      width: 100%;
    }
  
    .navbar-links a {
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-align: left;
    }
  }
  